@import url(vars.css);

.listado--cursos-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.barra-busqueda-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
